#main {
    height: 30%;
    width: 100%;
    position: relative;
    background-color: gray;
    
}

#main .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

#main h2{
    font-size: 28px;
}